.categorie_overzicht {
	background-color:$actuallywhite;
	overflow:hidden;
	padding:0 1rem;

    h2 {
        font-size:2.2rem;
        padding:1rem 0 1rem 1.5%;

        margin-bottom:1rem;
    }

    h3 {
        font-size:1.8rem;
        margin-bottom:1rem;
        margin-top:2rem;
        text-decoration:underline;

        a:hover {
            text-decoration:underline;
        }
    }

    article {
        overflow:hidden;
        position:relative;

        border-bottom:1px solid $gray;
        margin-bottom: 1rem;

        width:100%;
        float:left;
    }

    img {
        width:100%;
        float:left;
        min-height:20rem;
        margin-left:1rem;
        margin-bottom:2rem;
        max-height:40rem;
        object-fit:cover;
        object-position:top;

        @media (max-width: $screen_medium) {
            max-height:30rem;
        }
    }
}

.catoverzicht_cat {
    float:left;
    width:100%;

}

.catoverzicht_subcat {
    float:left;
    width:100%;
    padding-bottom:2rem;

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .subcat-item {
        margin:1rem 0;
    }

    .btn {
        margin-bottom:2rem;
    }

    .catoverzicht_subcat_detail {
        width:33%;

        // width:27%;
        // float:left;
        // margin-right:2%;
        //
        //
        @media (max-width:$screen-mediumbig) {
            width:46%;
        }

        @media (max-width:$screen-small) {
            width:98%;
        }
    }
}
