// Check background_images.scss for homepage background images
.homecontainer  {
    .hometext {
        background-color: $verygray;
        color:$almostwhite;
        padding:3rem;
        margin:6rem 0;
        text-align:center;

        a {
            margin:2rem 0 0 2rem;
            display:block;

            @media (min-width:$screen-medium) {
                margin:0 0 0 2rem;
                display:inline-block;
            }
        }
    }

    .homepromo {
        border:1px solid $colora_darker;
        background-color:$actuallywhite;
        margin:6rem 0 0;

        .producten_content {
            background-color:$actuallywhite;
            padding:1rem;

            article {

                padding-bottom:2rem;
                margin-bottom:4rem;
                border-bottom:1px solid $textcolor;

                @media (min-width: $screen-mediumbig) {
                    margin:0 1% 2%;
                    padding-bottom:1rem;
                    border:0;
                }
            }
        }
        .homepromo_banner {
            background-color:$colora_darker;
            color:$almostwhite;
            line-height:3rem;
            margin-bottom:1rem;
            padding:1rem 0 1rem 3rem;

            h2 {
                font-weight:700;
                font-size:3rem;
                margin-right:3rem;
                display:inline-block;
            }
        }

    }

    .roundimg {
        border-radius:50px;
    }

    .nicest_products {
        float:left;

        article {
            clear:both;
            float:left;
            margin-bottom:5rem;

        }

        a img {
            width:60%;
            max-height:40rem;
            object-fit:cover;
            float:left;

            @media(max-width: $screen_medium) {
                width:100%;
            }
        }

        .content {
            width:40%;
            float:left;
            padding:4rem;

            @media(max-width: $screen_medium) {
                width:100%;
            }

            h2 {
                font-size:4rem;
                margin-bottom:2rem;
            }

            p {
                margin-bottom:2rem;
            }
        }

    }
}
