$textcolor: #111;

$actuallywhite: #FFFFFF;
$almostwhite: #FAFAFA;
$notsowhite: #F5F5F5;

$graywhite: #EEEEEE;
$gray_lightest:#E0E0E0;
$gray_lighter:#BDBDBD;

$gray: #9E9E9E;
$gray_darker: #616161;
$verygray: #424242;
$gray_darkest: #212121;


$colora: #78AF2C;
$colora_lighter: #A7F43D;
$colora_lightest: #A7F43D;
$colora_darker: #589800;

$colorb: #BF4630;
//$colora_lighter: #8BC34A;
//$colora_lightest: #9CCC65;
//$colora_darker: #558B2F;

//$colorb: #18BAAB;

$colorc: #6A237E;
$colorc_lighter: #D96B57;
$colorc_darker: #992B17;


/* Breakpoints */
$screen_small: 28.5em;
$screen_medium: 45em;
$screen_mediumbig: 60em;
$screen_big: 85em;
$screen_biggest: 100em;

$breakpoint_bestelling: 55em;
